<h1>New Course</h1>

<% if @course.errors.any? %>
  <h2>Error!</h2>
  <ul>
  <% @course.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
<% end %>

<%= form_for @course do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br>

  <%= f.submit "Create Course" %>
<% end %>
