<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lessonboard - Lesson Planner" %></title>

    <%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area inline-list">
        <li class="name show-for-medium-up">
          <h1><a href="/"><%= image_tag "roofing-50.png" %></a></h1>
        </li>
        <li class="namesmall show-for-small-only">
          <h1><a href="/"><%= image_tag "roofing-50.png" %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to "My Courses", courses_path %></li>
            <li><%= link_to "Create New Course", new_course_path %></li>
            <li class="has-dropdown">
              <a href="#">
                <strong><%= current_user.display_name %></strong>
              </a>
              <ul class="dropdown">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              </ul>
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path  %></li>
            <li><%= link_to "Login", new_user_session_path  %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="columns small-12 wrapper">
        <%= render 'layouts/flash' %>
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>
    </div>
  </body>
</html>
